<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.mapper.CommonMapper">
    <insert id="insertWord" keyProperty="id" useGeneratedKeys="true">
        insert into word (word) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item})
        </foreach>
    </insert>

    <select id="getDfMap" resultType="hashmap">
        select df_value,word from df_word
    </select>

    <!--<select id="getDFMap" resultType="map">-->
        <!--SELECT-->
            <!--word,-->
            <!--df_value-->
        <!--FROM df_word-->
    <!--</select>-->

</mapper>


