<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.mapper.FeatureMapper">
    <insert id="addFeature" parameterType="Feature">
        insert into feature values( #{label},#{sentence},#{eventId},#{triggerWord},#{triggerWordPos},
        #{before4pos},#{before3pos},#{before2pos},#{before1pos},
        #{after1pos},#{after2pos},#{after3pos},#{after4pos},
        #{before1EntityType},#{after1EntityType},
        #{code}
        )
    </insert>
</mapper>


