<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.mapper.NewsMapper">
    <insert id="addNews" parameterType="News" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO news VALUES (#{id}, #{newsId}, #{url}, #{title}, #{pubSource}, #{pubTime}, #{content})
    </insert>

    <select id="getIdList" resultType="int">
        SELECT id
        FROM news
    </select>

    <select id="getNewsById" resultType="String" parameterType="int">
        SELECT content
        FROM news
        WHERE id = #{id}
    </select>

    <select id="getNewsList" resultType="string">
        select content from news
        <where>
            <if test="startId != null">
                id >= #{startId}
            </if>
            <if test="length != null">
                limit #{length}
            </if>
        </where>
    </select>

    <select id="getNewsMap" resultType="news">
        SELECT
            id,
            title,
            content FROM news
        WHERE 1 = 1
        <if test="startId != null">
            and id >= #{startId}
        </if>
        <if test="endId != null">
            and id &lt;= #{endId}
        </if>
        <if test="length != null">
            limit #{length}
        </if>
    </select>
</mapper>


