<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bupt.mapper.SegmentMapper">

    <insert id="addSegmentBatch" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
        INSERT INTO segment (id,articleId,segmentContent)
        VALUES
        <foreach collection="list" item="segment" index="index" separator=",">
            (#{segment.id},#{segment.articleId},#{segment.segmentContent})
        </foreach>
    </insert>

    <select id="getSegmentById" parameterType="int" resultType="Segment">
        SELECT * FROM segment WHERE id=#{id}
    </select>
    <resultMap id="idList" type="int">
        <result column="id" property="id"></result>
    </resultMap>
    <select id="getListOfId" resultMap="idList">
        select id from segment
    </select>
</mapper>


